::ng-deep .notification-box>ul li>i.delete {
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    text-align: right;
    vertical-align: top;
    visibility: hidden;
    transition: all 0.2s linear 0s;
    color: red;
}

::ng-deep .notification-box>ul li:hover>i.delete {
    opacity: 1;
    visibility: visible;
}