<div class="widget" id="menuWidget">
    <h4 class="widget-title">MENU</h4>
    <ul class="naves">
        <li>
            <i class="ti-clipboard"></i>
            <a [routerLink]="['/user/news']" title="">Actualités</a>
        </li>

        <li>
            <i class="ti-files"></i>
            <a [routerLink]="['/profile',idUser,'page',idUser]" title="">Profil</a>
        </li>

        <li>
            <i class="ti-user"></i>
            <a [routerLink]="['/profile',idUser,'followers',idUser]" title="">Suivis</a>
        </li>

        <!-- <li>
            <i class="ti-comments-smiley"></i>
            <a href="messages.html" title="">Messages</a>
        </li> -->

        <li>
            <i class="ti-bell"></i>
            <a [routerLink]="['/profile',idUser,'notifications',idUser]" title="">Notifications</a>
        </li>

        <li>
            <i class="fa fa-bar-chart-o"></i>
            <a [routerLink]="['/profile',idUser,'insights',idUser]" title="">statistiques</a>
        </li>

        <li>
            <i class="fa fa-question-circle-o"></i>
            <a href="insights.html" title="">foire aux questions</a>
        </li>

        <li>
            <i class="ti-info"></i>
            <a href="insights.html" title="">nous contacter</a>
        </li>

        <li>
            <i class="ti-power-off"></i>
            <a (click)="logout()" title="">Déconnexion</a>
        </li>
    </ul>
</div>